<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="win" />
  <package id="OutcoldSolutions.Framework" version="1.0.30325.348" targetFramework="win" />
  <package id="OutcoldSolutions.Presentation" version="1.0.30325.349" targetFramework="win" />
  <package id="OutcoldSolutions.SQLite" version="1.1.30322.0" targetFramework="win" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="win" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="win" />
</packages>