<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="win" />
  <package id="OutcoldSolutions.Framework" version="1.0.30305.40630" targetFramework="win" />
  <package id="OutcoldSolutions.Presentation" version="1.0.30305.41618" targetFramework="win" />
  <package id="OutcoldSolutions.SQLite" version="1.0.31003.20031" targetFramework="win" />
</packages>