<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BugSense.W8" version="3.6.6.0" targetFramework="win" requireReinstallation="True" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="win" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="win81" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="portable-win81+wpa81" requireReinstallation="True" />
  <package id="OutcoldSolutions.SQLite" version="1.2.41109.1" targetFramework="portable-net45+win+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="win81" requireReinstallation="True" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="win81" requireReinstallation="True" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="win81" requireReinstallation="True" />
</packages>