<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="OutcoldSolutions.Framework" version="1.0.30305.40630" targetFramework="net45" />
  <package id="OutcoldSolutions.SQLite" version="1.1.30317.1" targetFramework="net45" />
  <package id="OutcoldSolutions.SuitesBase" version="1.0.30305.40630" targetFramework="net45" />
</packages>